.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  /* height: 100dvh; */
  bottom: 0;
}

.logo {
  margin: 1rem 20px 1rem 20px !important;
  padding: 12px !important;
}

.settings {
  margin: 1rem 20px 1rem 20px !important;
  padding: 12px !important;
}

.nav {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100% !important;
}
