.menuItem {
  display: flex !important;
  align-items: center !important;
  width: fit-content !important;
  font-size: 20px !important;
  padding: 12px !important;
  margin: 1rem 0 !important;
  /* margin: 1rem 20px 1rem 20px !important; */
  text-transform: capitalize !important;
  border-radius: 9999px !important;
}

.menuItem:hover {
  background-color: #06acff3a !important;
  /* color: white !important; */
}
